<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading"><b>Expenses Manager </b><i class="fa fa-info-circle" aria-hidden="true"></i></h4>
  <p>
    Expenses Manager is a user-friendly, finance management application which allows you to keep track of your
    transactions
    seamlessly and intuitively.<br> You can categorize your spending, create budgets, get detailed analysis of your
    spending
    habits and stay on top of your money.
    <hr>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><u>Talk with an advisor</u></h5>
        <p class="card-text">Talk with an advisor to create an inbound marketing program that blends proven strategy
          with tactical research and gurantee results.</p>
        <hr>
        <a href="https://www.sathyabama.ac.in/" class="btn btn-primary">Contact an advisor</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><u>Help & Support</u></h5>
        <p class="card-text">Can't find what you need? Get in touch with a friendly member of our team.
          <b>We've got your back</b>
          We're here to help with any questions or doubts.We'll find you the right products for your
          business.
        </p>
        <hr>
        <a href="https://sathyabama.cognibot.in/" class="btn btn-primary">Get support-></a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="alert alert-dark" role="alert">
  This is a <i class="fa fa-comments fa-2x" aria-hidden="true"></i>feedback system for our application feedback link.
  Give it a <a href="https://forms.gle/HK1vYZx9D4kerEnz5" class="alert-link">click here</a> if you like.
</div>
<div class="card text-white bg-dark mb-3">
  <div class="card-header">
    <h3>Reach US out Here!!!</h3>
  </div>
  <div class="center">
    <span class="badge badge-pill badge-dark"><i class="fa fa-facebook-official fa-3x"></i></span>
    <span class="badge badge-pill badge-dark"><i class="fa fa-instagram fa-3x"></i></span>
    <span class="badge badge-pill badge-dark"><i class="fa fa-twitter fa-3x"></i></span>
    <span class="badge badge-pill badge-dark"><i class="fa fa-phone fa-3x"></i></span>
    <br>
    <p>Copyright © 2022 scube project. All rights reserved.</p>
  </div>
</div>