h3 {
    color: #16c4e8e3;
    -webkit-text-stroke: 1px black;
}

.bgimg {
    background-color: #45464bbd;
    font-family: Bookman, URW Bookman L, serif;
}

.bgimg2 {
    background-color: #45464bbd;
    color: white;
    font-family: Bookman, URW Bookman L, serif;
}

h4 {
    color: #000000;
    font-family: Bookman, URW Bookman L, serif;
    -webkit-text-stroke: 1px rgba(0, 67, 109, 0.582);
    background-color: #d4d8ecbd;
}

label {
    color: azure;
}