<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12">
            <nav id="navbar" class="bgimg2">
                <h4>Features of Expense Tracker</h4>
                <ul type="square">
                    <li>Handles Document</li>
                    <li>Tracks Receipts</li>
                    <li>Prevents Data Losses and Frauds</li>
                    <li>Offers Precise Analytics</li>
                    <li>Protects Data</li>
                </ul>
                <h4>Need of Expense Tracker</h4>
                <ol>
                    <li>Get an overview of your overall expenses</li>
                    <li>Easily track expenses and identify spending patterns</li>
                    <li>Have a keener understanding of your spending behaviour and decide on how to take proactive
                        measures</li>
                    <li>Have a better grip on your current financial situation and align your budget with your long-term
                        goals</li>
                </ol>

                <h4>You might like this!!</h4>
                <ul>
                    <li>Getting Started</li>
                    <li>Beginning of a month</li>
                    <li>Keeping an eye on your budget</li>
                    <li>Track-Track-Track</li>
                    <li>50-30-20 Rule</li>
                    <li>10 reasons you should start tracking your expenses</li>
                    <li>How to integrate Expenses Manager in your life?</li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10 col-sm-12 col-xs-12">
            <main id="main-doc" class="bgimg">

                <div class="card border-dark mb-3">
                    <div class="card-header">
                        <h5>Handles Documents</h5>
                    </div>
                    <div class="card-body text-dark">
                        <p class="card-text"> It’s time to stop using paper and excel spreadsheets for keeping records
                            of your cash payments
                            and online transactions! Papers are tough to handle and more dangerous for the environment.
                            On the other hand, excel sheets may offer an online solution but don’t do
                            much help in money
                            handling. So, it’s better to develop money management software that collects insights from
                            the
                            data and helps make business decisions.</p>
                    </div>
                </div>

                <div class="card border-dark mb-3">
                    <div class="card-header">
                        <h5>Tracks Receipts</h5>
                    </div>
                    <div class="card-body text-dark">
                        <p class="card-text">You always can’t find the cash and digital payments made by you and this is
                            a big issue with
                            tracking expenses.<br>So, if you want to keep a track of your monetary investments, you
                            should
                            go using a business
                            expense tracker app. This helps store all receipts by only clicking their images in your
                            expenses handling app.</p>
                    </div>
                </div>
                <div class="card border-dark mb-3">
                    <div class="card-header">
                        <h5>Prevents Data Losses and Frauds</h5>
                    </div>
                    <div class="card-body text-dark">
                        <p class="card-text">
                            Manual handling of personal expenses and finances can’t check every transaction detail
                            accurately.
                            For this reason, fraud cases happen many times.<br>Using an expense tracking
                            and budgeting app, the
                            workflow of money and finance handling becomes automated.
                            This not just prevents fraudulence but also makes the procedure more accurate and
                            transparent.
                        </p>
                    </div>
                </div>
                <div class="card border-dark mb-3">
                    <div class="card-header">
                        <h5>Offers Precise Analytics</h5>
                    </div>
                    <div class="card-body text-dark">
                        <p class="card-text">Excel spreadsheets might track and store data and create helpful charts or
                            graphs from it but
                            still have no advanced functionality. On the other hand, human engagement brings the
                            possibility
                            of mistakes.<br>So, it’s best to build a business expense tracker app that carries out
                            prediction analysis and
                            helps you make efficient business decisions.</p>
                    </div>
                </div>

                <div class="card border-dark mb-3">
                    <div class="card-header">
                        <h5>Protects Data</h5>
                    </div>
                    <div class="card-body text-dark">
                        <p class="card-text">
                            Security is always the prime concern for every FinTech app developer. And an expense
                            handling
                            app maintains such a security level constantly. Moreover, it can restore users’ accounts in
                            case
                            their devices get lost or stolen.</p>
                    </div>
                </div>
            </main>
        </div>

    </div>
</div>