<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="./assets/image/sp8.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><b>Helps to keep an accurate record of your money inflow and outflow.</b></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">EXPENSE MANAGEMENT CAPABILITIES</h5>
    </div>
    <img class="card-img-center" src="./assets/image/hw1.JPG" alt="Card image cap">
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/image/hw5.PNG" alt="Card image cap">
  </div>
</div>
<br>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="./assets/image/hw4.PNG" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><b>An expense manager consolidates all incoming and outgoing transactions, so that you’re not
          found organizing data separately.
          .An Expense Manager makes your personal money management totally effortless & track your expenses & spend
          according to the set up monthly budget.When all you need is an internet connection, this removes barriers to
          fulfilling tedious but necessary tasks such as expense submission.</b></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/image/hw2.PNG" alt="Card image cap">
    <img class="card-img-top" src="./assets/image/sp6.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><b>A expense tracking website with a cloud-based database means that employees can submit,
          approve and access expense reports at any time, from anywhere.</b></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/image/hw3.PNG" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Better spending awareness</h5>
      <p class="card-text">The benefits are additional opportunities to save money and increase productivity, better
        expense control and increased policy compliance.</p>
    </div>
  </div>
</div>