<p></p>
<div class="card-columns">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">Getting Started</h5>
            <p class="card-text">Let’s get the basics done.You already have 18 default
                categories including both income and expenses, either you can choose to work with them, or you can
                create or edit categories to suit your needs.</p>
        </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">Beginning of a month</h5>
            <p class="card-text">If you aim to be aware of your money Budgeting is the game-changer</p>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">50-30-20 Rule</h5>
            <p class="card-text"> The rule is to divide your monthly after-tax income into three categories. 50% for
                needs, 30% for wants and 20% for savings and investment.</p>
        </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">Track-Track-Track</h5>
            <p class="card-text"> Track each transaction, expense, income, or a transfer,
                under the intended category.</p>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">10 reasons you should start tracking your expenses</h5>
            <p class="card-text"> For most people it sounds like a very boring and tedious task to track every
                transaction they do and hence, they end up not tracking their expenses.</p>
        </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">How to integrate Expenses Manager in your life?</h5>
            <p class="card-text">There are only two types of people in this world, those who download the Expenses
                Manager and those who don't care about their money.</p>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">How to start your investment journey?</h5>
            <p class="card-text">Many people think about investing as gambling or a game. Many are in it believing this,
                expecting huge profits overnight and many stay out of it considering the risk in this gambling.</p>
        </div>
    </div>

    <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body text-dark">
            <h5 class="card-title">How to create wealth?</h5>
            <p class="card-text">We are sure that by now you have realised that no one has ever got rich while only
                working hard in their 9 - 5 job.</p>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">Inflation</h5>
            <p class="card-text"> Even a moderate rate of inflation means that the money held in your savings account
                offers
                less returns than the inflation rate, will lose its purchasing power over time.</p>
        </div>
    </div>
</div>


<div class="alert alert-warning" role="alert">
    <div class="center"> <strong>Articles to explore</strong> You should check out each features!!!.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>


<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="./assets/image/exp.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Control your expenses better than your competition. This is where you can always find
                the competitive advantage.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/image/sp2.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Know the difference between your necessary and discretionary expenses.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated few days ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/image/sp3.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">
                Beware of little expenses. A small leak will sink a great ship.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/image/sp4.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">
                I am indeed rich, since my income is superior to my expenses, and my expense is equal to my wishes.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated few hours ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/image/BG.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">We have to help people with their expenses of their health care, their access to their
                health care, and certainly for the actual care that they receive.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 5 years ago</small>
        </div>
    </div>
</div>