<div class="bgimg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div>
          <button (click)="onShowHandler()" [type]="expenseButton" [class]="expenseClass">Show Table</button>
          <button (click)="onaddExpenseHandler($event)" [type]="expenseButton" [class]="expenseClass">Add
            Expense</button>
        </div>
        <table *ngIf="flag" class="table table-bordeblack" class="hoverTable">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{expense}}</th>
              <th scope="col">{{Ecategory}}</th>
              <th scope="col">Expense Amount</th>
              <th scope="col">Expense Date</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of list;let i = index">
              <td [ngStyle]="{'color':i%2==0?'black':'midnightblue'}" [ngClass]="{'box':true}">{{i+1}}</td>
              <td [ngStyle]="{'color':i%2==0?'black':'midnightblue'}" [ngClass]="{'box':true}">{{obj.title|uppercase}}
              </td>
              <td [ngStyle]="{'color':i%2==0?'black':'midnightblue'}" [ngClass]="{'box':true}">{{obj.category}}</td>
              <td [ngStyle]="{'color':obj.amount>=3500?'red':'midnightblue'}" [ngClass]="{'box':true}">
                {{obj.amount|number:"2.2"}}</td>
              <td [ngStyle]="{'color':i%2==0?'black':'midnightblue'}"  [ngClass]="{'box':true}">{{obj.date
                |date:'fullDate'}}</td>
              <td [ngStyle]="{'color':i%2==0?'black':'midnightblue'}" [ngClass]="{'box':true}"><i
                  (click)="onEditHandler(i)" data-toggle="modal" data-target="#exampleModal"
                  class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </td>
              <td [ngStyle]="{'color':i%2==0?'black':'midnightblue'}" [ngClass]="{'box':true}"><i
                  (click)="onDeleteHandler(i)" class="fa fa-trash" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Expense</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>Expense Title</label>
              <input [(ngModel)]="title" type="text" class="form-control" id="expenseTitle" name="expenseTitle"
                placeholder="expenseTitle">

            </div>
            <div class="form-group">
              <label>Expense category</label>
              <select [(ngModel)]="category" class="form-control" id="expenseCategory" name="expenseCategory">
                <option>Accessories</option>
                <option>Clothing</option>
                <option>Daily Expense</option>
                <option>Electric Bill</option>
                <option>EMI</option>
                <option>Food & Dining</option>
                <option>Groceries</option>
                <option>Health & Personal Care</option>
                <option>Household Items</option>
                <option>Insurance</option>
                <option>Loan</option>
                <option>Rent</option>
                <option>Tax</option>
                <option>Transportation</option>
                <option>Travelling</option>
                <option>Others</option>
              </select>
            </div>
            <div class="form-group">
              <label>Expense Amount</label>
              <input [(ngModel)]="amount" type="number" class="form-control" id="expenseAmount" name="expenseAmount"
                placeholder="expenseAmount">
            </div>
            <div class="form-group">
              <label>Date</label>
              <input [(ngModel)]="date" type="date" class="form-control" id="date" name="date" placeholder="date">
            </div>
            <button (click)="onFinalSubmitHandler()" data-dismiss="modal" type="submit"
              class="btn btn-secondary">Edit</button>
          </form>
        </div>

      </div>
    </div>
  </div>