<p>logout works!</p>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you've successfully logged out. </p>
    <hr>
    <p class="mb-0">Whenever you need to, make sure to use the expense tracking application to keep things nice and
        steady.</p>
</div>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Track more!</strong> You should check in daily and keep track of your daily expenses!
    <a routerLink="/" class="alert-link">Click Here</a> to go to home page!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>