.demo-bg {
    position: absolute;
    width: 150%;
  }
.button-margin {
    margin-right: 500px;
}
.navbar-nav {
    margin-right: 85%;
}
.container {
    margin-top: 50px;
}
.contact {
    width: 120%;
    height: 80%;
}
.contact {
    width: 90%;
    height: 80%;
}